:root{
    --blue:#8dabc9;
    --red: #db5b5d;
    --grey: #b7bbbe;
    --green: #93d086;
    --black: #313131;

}

.background-preview {
    border: 3px dashed grey;
    flex-grow: 1;
}
.btn-red {
    color: var(--red);
    border: var(--red) solid 1px;
    background-color: transparent;
}
.btn-red:hover,.btn-red:focus{
    color: #fff;
    box-shadow: 0 0 2px 2px var(--red) inset;
    outline: none;
    transition: transform 300ms;
    transform: translateY(-2px);
}

.btn-blue {
    color: var(--blue);
    border: var(--blue) solid 1px;
    background-color: transparent;
}
.btn-blue:hover,.btn-red:focus{
    color: #fff;
    box-shadow: 0 0 2px 2px var(--blue) inset;
    outline: none;
    transition: transform 300ms;
    transform: translateY(-2px);
}
.btn-grey {
    color: var(--grey);
    border: var(--grey) solid 1px;
    background-color: transparent;
}
.btn-grey:hover,.btn-red:focus{
    color: #fff;
    box-shadow: 0 0 2px 2px var(--grey) inset;
    outline: none;
    transition: transform 300ms;
    transform: translateY(-2px);
}

.btn-green {
    color: var(--green);
    background-color: var(--black);
}
.btn-green:hover,.btn-red:focus{
    color: var(--black);
    box-shadow: 0 0 4px 4px var(--green) inset;
    outline: none;
    background-color: transparent;
    transition: transform 300ms;
    transform: translateY(-2px);
}
.btn-pagination{
    color: var(--blue);
}
.btn-pagination-active{
    background-color: var(--black) !important;
}