{% extends 'base.html' %}


{% block content %}

{% for review in reviews %}
<h1>Фильм: {{ review.title }}</h1>
<h3>Статус: {{ review.status_name }}</h3>
<div class="mb-4 row border border-dark py-2 rounded">
    <div class="col-lg-1 col-sm-2 offset-sm-0 offset-4 col-4 offset-4 text-center">
        <img class="img-fluid rounded-circle cursor-pointer"
            src="{{ url_for('static', filename='img/default-profile-picture-300x300.jpeg') }}" alt="profile-pic">
    </div>
    <div class="col-lg-11 col-sm-10 col-12">
        <div class="row">
            <div class="col-8">{{review.date}} {{review.surname}} {{review.name}} {{review.middle_name or ''}}</div>
            <div class="col-4 text-right">Рейтинг {{review.rating}} из 5</div>
            <div class="mt-2 col-12 text-justify">{{ mrkdwn[loop.index - 1 ] | safe }}</div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}