{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Название фильма</th>
            <th>Имя пользователя</th>
            <th>Дата добавления рецензии</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.title }}</td>
            <td>{{ review.surname }} {{ review.name }} {{ review.middle_name or '' }}</td>
            <td>{{review.date}}</td>
            <td>
                <a class="btn btn-secondary"
                    href="{{ url_for('review.moderation', review_id=review.id) }}">Рассмотреть</a>
            </td>
            {% endfor %}
    </tbody>
</table>
{{ render_pagination(request.endpoint, pagination_info) }}
{% endblock %}