{% extends 'base.html' %}


{% block content %}

<h2 class="mb-3 text-center text-uppercase font-weight-bold">Оставить отзыв</h2>
<form action="{{ url_for('review.review', movie_id=movie_id) }}" method="POST" class="w-75 mx-auto mt-5">
    <div class="form-group">
        <label for="selectrating">Оценка</label>
        <select name="rating" class="custom-select form-control" id="selectrating">
            <option selected value="5" {% if rating == 5 %}selected{% endif %}>Отлично</option>
            <option value="4" {% if rating == 4 %}selected{% endif %}>Хорошо</option>
            <option value="3" {% if rating == 3 %}selected{% endif %}>Удовлетворительно</option>
            <option value="2" {% if rating == 2 %}selected{% endif %}>Неудовлетворительно</option>
            <option value="1" {% if rating == 1 %}selected{% endif %}>Плохо</option>
            <option value="0" {% if rating == 0 %}selected{% endif %}>Ужасно</option>
        </select>
    </div>
    <div class="form-group">
        <label for="textarearating">Отзыв</label>
        <textarea name="text" class="form-control" id="text-content" cols="30" rows="10">{{ text or ''}}</textarea>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endblock %}