<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>
        Онлайн-Кинотеатр
    </title>
</head>

<!-- rgb(225, 237, 235) -->

<body class="d-flex flex-column h-100" style="background-color: #f4f4f4 ;">

    <div style="flex-grow: 1;">
        <nav style="background-color: #313131 !important;" class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('index') }}">Главная</a>
                        </li>
                        <li class="nav-item">
                            {% if current_user.role_id == 3 %}
                        <li class="nav-item">
                            <a class="nav-link "
                                href="{{ url_for('review.my_reviews', user_id = current_user.id) }}">Мои
                                рецензии</a>
                        </li>
                        {% endif %}
                        {% if current_user.role_id == 2 %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('review.review_moderation') }}">Модерация
                                рецензий</a>
                        </li>
                        {% endif %}
                        {% if current_user.role_id == 1 %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('person') }}">Добавить человека</a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            {% if current_user.is_authenticated %}
                            <div class="dropdown show">
                                <a class="nav-link  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{current_user.full_name}}
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Выйти</a>
                                </div>
                            </div>
                            {% else %}
                            <a class="nav-link " href="{{ url_for('auth.login') }}">Войти</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mt-3 mx-3"></div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category,msg in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endwith %}
        <div class="container mt-5">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer style="background-color: #313131 !important;"
        class="bg-dark d-flex justify-content-center align-items-center">
        <p id="foot" class="text-white m-2"> Михайлов Артем Михайлович 191-351</p>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="{{ url_for('static', filename='wow.min.js') }}"></script>
    <script defer>
        new WOW().init();
    </script>
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>