{% macro render_movie_form(genres, countries, persons, choosed={}, movie_id = 0 ) %}
<form
    action=" {% if request.endpoint == 'new' or request.endpoint == 'create' %}{{ url_for('create') }}{% else %}{{ url_for('update', movie_id =movie_id) }}{% endif %}"
    method="POST" class="mt-5" enctype="multipart/form-data">
    <div class="form-group row">
        <div
            class="col-md-{% if request.endpoint == 'new' or request.endpoint == 'create' %}6{% else %}12{% endif %} d-flex flex-column">
            <div class="form-group">
                <label for="title">Название</label>
                <input class="form-control" type="text" name="title" id="title" value="{{ choosed.title or ''}}">
            </div>
            <div class="form-group">
                <label for="year">Год</label>
                <input class="form-control" type="text" name="year" id="year" value="{{ choosed.year or ''}}">
            </div>
            <div class=" form-group">
                <label for="duration">Продолжительность (в минутах)</label>
                <input class="form-control" type="text" name="duration" id="duration"
                    value="{{ choosed.duration or ''}}">
            </div>
            <div class="form-group">
                <label for="country">Страна</label>
                <select class="form-control selectpicker" data-live-search="true" name="country" id="country">
                    {% for country in countries %}
                    <option value="{{ country.id }}" {% if country.id == choosed.country %} selected {% endif %}>
                        {{ country.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="genres">Жанры</label>
                <select class="form-control selectpicker" data-live-search="true" name="genres" id="genres" multiple>
                    {% for genre in genres %}
                    <option value="{{ genre.id }}" {% for choosed_genre in choosed.genres %}
                        {% if genre.id == choosed_genre %}selected{% endif %}{% endfor %}>
                        {{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="producer">Режисер</label>
                <select class="form-control selectpicker" data-live-search="true" name="producer" id="producer">
                    {% for person in persons %}
                    <option value="{{ person.id }}" {% if person.id == choosed.producer %}selected{% endif %}>
                        {{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="scriptwriter">Сценарист</label>
                <select class="form-control selectpicker" data-live-search="true" name="scriptwriter" id="scriptwriter">
                    {% for person in persons %}
                    <option value="{{ person.id }}" {% if person.id == choosed.scriptwriter %}selected{% endif %}>
                        {{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="actors">Актеры</label>
                <select class="form-control selectpicker" data-live-search="true" name="actors" id="actors" multiple>
                    {% for person in persons %}
                    <option value="{{ person.id }}" {% for choosed_actor in choosed.actors %}
                        {% if person.id == choosed_actor %}selected{% endif %}{% endfor %}>
                        {{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if request.endpoint == 'new' or request.endpoint == 'create' %}
        <div class="col-md-6 d-flex flex-column">
            <div class="form-group">
                <label for="background_img">Фоновое изображение</label>
                <input class="form-control" type="file" name="background_img" id="background_img">
            </div>
            <div class="form-group background-preview p-3 rounded d-flex align-items-center justify-content-center">
                <img src="" class="img-fluid d-none" alt="">
                <label for="background_img" class="btn btn-primary">Выбрать изображение</label>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group  d-flex flex-column flex-grow-1">
        <label for="description">Описание</label>
        <textarea class="form-control" name="description" id="text-content" cols="30"
            rows="10">{{ choosed.description or ''}}</textarea>
    </div>
    <div class="form-group text-center">
        <input type="submit" class="btn-lg btn-primary" value="Сохранить">
    </div>
</form>
{% endmacro %}