{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

<h1 class="text-center">Список фильмов</h1>

<div class="row mt-5 mb-4">
    {% for movie in movies %}
    <div class="wow animate__animated animate__fadeIn col-lg-3 col-sm-6 mb-3" data-wow-duration="1s">
        <div style="background-color: #313131; color: #fff; border: 0px;" class="card h-100">
            <img class="card-img-top" src="{{ url_for('poster', movie_id=movie.id) }}" alt="Card image cap">
            <div class="card-body  d-flex flex-column">
                <h5 class="card-title ">{{movie.title}}, {{movie.production_year}} </h5>
                <p class="card-text">Жанры: {{movie.genres}}</p>
                <p class="card-text" style="flex-grow: 1">Количество рецензий: {{ movie.reviews }}</p>
                <a class="btn btn-blue btn-block" href="{{ url_for('show', movie_id=movie.id) }}">Просмотр</a>
                {% if current_user.is_authenticated and current_user.can("edit") %}
                <a class="btn btn-grey btn-block" href="{{ url_for('edit', movie_id=movie.id) }}">Редактирование</a>
                {% endif %}
                {% if current_user.is_authenticated and current_user.can("delete") %}
                <button type="button" class="btn-red btn btn-block" data-toggle="modal"
                    data-target="#delete-movie-modal" data-url="{{ url_for('delete', movie_id=movie.id) }}">
                    Удалить
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if current_user.is_authenticated and current_user.can("new") %}
<div class="text-center mb-4">
    <a class="btn btn-green btn-lg" href="{{ url_for('new') }}">Добавить фильм</a>
</div>
{% endif %}
{{ render_pagination(request.endpoint, pagination_info) }}
{% if current_user.is_authenticated and current_user.can("delete") %}
<div class="modal" tabindex="-1" role="dialog" id="delete-movie-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление фильма</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить фильм <span id="movie-title"></span>?</p>
                <form action="" method="POST" class="d-none">
                    <input id="delete-btn" type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <label for="delete-btn" class="btn btn-danger cursor-pointer">Да</label>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>
<script defer src="{{ url_for('static', filename='modal.js') }}"></script>
{% endif %}
{% endblock %}