{% macro render_pagination(endpoint, pagination_info) %}
{% set page = pagination_info.current_page %}
{% set total_pages = pagination_info.total_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page != 1 %}
    <li class="page-item ">
      <a class="page-link" href="{{ url_for(endpoint, page=page - 1) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    {% set start = page - 3 if page - 3 > 0 else 1 %}
    {% set end = page + 3 if page + 3 <= total_pages else total_pages %} {% for page_num in range(start, end + 1) %} <li
      class="page-item "><a class="{% if page_num == page %}btn-pagination-active{% endif %} page-link btn-pagination"
        href="{{ url_for(endpoint, page=page_num) }}">{{ page_num }}</a></li>
      {% endfor %}
      {% if page != total_pages %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for(endpoint, page=page + 1) }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
  </ul>
</nav>

{% endmacro %}