{% extends 'base.html' %}

{% block content %}

<form
    action="{{ url_for('create_person') }}"
    method="POST" class="mt-5">
            <div class="form-group">
                <label for="person">Имя персонажа</label>
                <input class="form-control" type="text" name="person" id="person">
            </div>
    <div class="form-group text-center">
        <input type="submit" class="btn-lg btn-primary" value="Сохранить">
    </div>
</form>

{% endblock %}