{% extends 'base.html' %}


{% block content %}

<div class="mb-5 row">
    <div class="col-md-4 d-flex flex-column">
        <div class=" p-3 background-preview rounded d-flex align-items-center justify-content-center">
            <img src="{{ url_for('poster', movie_id=movie.id) }}" class="img-fluid" alt="{{ movie.title }}">
        </div>
    </div>
    <div class="col-md-8 d-flex flex-column">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold"">{{movie.title}}</h2>
        <p>Год: {{ movie.production_year }}</p>
        <p>Продолжительность фильма (в минутах): {{ movie.duration }}</p>
        <p>Страна: {{country}} </p>
        <p>Жанры: {{genres}} </p>
        <p>Режисер: {{producer}}</p>
        <p>Сценарист: {{scriptwriter}} </p>
        <p>Актеры: {{actors}}</p>
        <p>Описание: {{ mrkdwn.movie | safe }} </p>
    </div>
</div>
{% if reviews %}
<h2 class=" mb-3 text-center text-uppercase font-weight-bold">Рецензии</h2>
        {% for review in reviews %}
        {% if review.status_id == 2 %}
        <div class="mb-4 row border border-dark py-2 rounded">
            <div class="col-lg-1 col-sm-2 offset-sm-0 offset-4 col-4 offset-4 text-center">
                <img class="img-fluid rounded-circle cursor-pointer"
                    src="{{ url_for('static', filename='img/default-profile-picture-300x300.jpeg') }}"
                    alt="profile-pic">
            </div>
            <div class="col-lg-11 col-sm-10 col-12">
                <div class="row">
                    <div class="col-6">Рейтинг {{review.rating}} из 5</div>
                    <div class="col-6 text-right"><small class="text-muted">{{review.date}}</small></div>
                    <div class="col-12">{{review.surname}} {{review.name}} {{review.middle_name or ''}}</div>
                    <div class="mt-2 col-12 text-justify">{{ mrkdwn.reviews[loop.index - 1 ] | safe }}</div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if your_review is none and current_user.is_authenticated %}
        <a href="{{ url_for('review.review_add', movie_id=movie.id) }}" class="mb-3 btn btn-primary btn-block">Оставить
            отзыв</a>
        {% elif current_user.is_authenticated %}
        <section class="mb-5">
            <h2 class="mb-3 text-center text-uppercase font-weight-bold">Ваша рицензия. Статус -
                {{ your_review.status_name }}
            </h2>
            <div class="mb-4 row border border-dark py-2 rounded">
                <div class="col-lg-1 col-sm-2 offset-sm-0 offset-4 col-4 offset-4 text-center">
                    <img class="img-fluid rounded-circle cursor-pointer"
                        src="{{ url_for('static', filename='img/default-profile-picture-300x300.jpeg') }}"
                        alt="profile-pic">
                </div>
                <div class="col-lg-11 col-sm-10 col-12">
                    <div class="row">
                        <div class="col-6">Рейтинг {{your_review.rating}} из 5</div>
                        <div class="col-6 text-right"><small class="text-muted">{{your_review.date}}</small></div>
                        <div class="col-12">{{your_review.surname}} {{your_review.name}}
                            {{your_review.middle_name or ''}}</div>
                        <div class="mt-2 col-12 text-justify">{{ mrkdwn.your_review | safe }}</div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% endblock %}